{% extends 'base/index.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h2>Hello {{request.user|title}}</h2>
        <h4 style = "margin:0;">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}.</h4>


    </div>
    {% if request.user.is_authenticated %}
        <!-- <p> {{ request.user }} </p> -->
        <a style="color: black;" class="logout-link" href=" {% url 'logout' %} ">&#9897; Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form action="" method="get" style="margin-top:20px; display:flex;">
        <input id="search_box" type="text" name="search_area" value="{{ search_input }}" placeholder=" Search here">
        <input class="button" type="submit" value="Search">
    </form>
    
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>

    
<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.completion %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
        </div>
        <a href="{% url 'task-delete' task.id %}" class="delete-link" >&#128465;</a>
        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a>
        </div>
        <a href="{% url 'task-delete' task.id %}" class="delete-link">&#128465;</a>
        {% endif %}

    </div>
    {%  endfor %}




</div>


    <!-- <table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
        {% for task in tasks%}
        <tr>
            <td>{{task.title}}</td>
            <td> <a href="{%  url 'task' task.id %}">View</a> </td>
            <td> <a href="{%  url 'task-update' task.id %}">Edit</a> </td>
            <td> <a href="{%  url 'task-delete' task.id %}">Delete</a> </td>
        </tr>

        {% empty %}
        <h3> No items in List</h3>

        {% endfor %}

    </table> -->


{% endblock content %}